@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


body{
	text-align:center;
	margin: 0px;
}

body, html{

	height: 100%;
	width: 100%;
	overflow: hidden;
}

body, div, p {
	font-family: 'Roboto', sans-serif;
	color:#333;
	font-size:18px;
	font-weight:bold;
}

a:link {
  text-decoration : none;
}

body {
	width:360px;
	height:560px;
	background-color: #efefef;
}

input[type='range'] {
	-webkit-appearance: none;
	-moz-appearance:none;
	padding-left:2px; padding-right:2px;
	background-color: #333;
	height:5px;
	width: 100%;
}

#cTemp {
	padding:5px 0px 20px 0px;
	color:#ffffff;
	font-size:34pt;
	font-weight:bold;
	color: #333;
}

#week, #weekday {
	height: 5%;
    width: 100%;
    border-radius: 0px;
    background-color: #ddd;
    color: #333;
    display: table;
    font-size: 20px;
}

#week > span {
	display: table-cell;
	vertical-align: middle;
}

.time{
	font-size: 30px;

}
.time2{
	background-color: black;
	font-size: 20px;
	width:100%;
	height: 10%;
	opacity: 0.8;
}

.time3{
	color: white;
	float: left;
	font-size: 38px;
	padding:3px;
	padding-left:6px;
}

.siem {
	margin-left: 0px;
    background-color: #ddd;
    height: 15%;
    display: table;
    width: 100%;
    text-align: center;
}

.siem > .icon {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

.icon.down {
	background: url('../images/arrow_down.png');
	background-size: 20%;
	background-position: 50%;
	background-repeat: no-repeat;
}

.icon.up {
	background: url('../images/arrow_up.png');
	background-size: 20%;
	background-position: 50%;
	background-repeat: no-repeat;
}

.icon {
	width: 100%;
	height: 100%;
	opacity: 0.8;
}

.maincontainer {
	height: 100%;
	width: 100%;
}

.homeaux {
	height: 30%;
	background-color: #ddd;
	display: table;
	width: 100%;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
}

.homeaux > #cTemp {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	font-size: 62px;
	color: #333;
	padding-top: 5px;
}




#slider {
  margin: 0;
  padding: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#vacation2 {
	float: left;
    display: inline-block;
    width: 50%;
		padding:3%;
}

#sliderIn {
	display: inline-block;
	padding: 3%;
}

#vacationTemp {
	float: left;
	display: inline-block;
	width: 50%;
	padding: 3%;
}

#vacationTempIn {
	display: inline-block;
	padding: 3%;
}

.submitButton {
	padding: 3%;
	float:middle;
	display: inline-block;;
}
